<div class="login__container paper">
    <form class="login__form">
        <h2 class="login__title">Вход</h2>
        <input type="text" id="login" placeholder="Логин" required />
        <input type="password" id="password" placeholder="Пароль" required />
        <button type="submit">Войти</button>
        <div class="login__registration">
            <a href="/register">Нет аккаунта?</a>
        </div>

    </form>
</div>